<section class='flex flex-col gap-3 justify-center text-center md:text-center md:justify-center md:items-center xl:m-0 two lg:h-screen items-start px-5 md:p-0' id="about">
    <div class='xl:block w-full'>
      <button class='link-project text-slate-500 text-2xl text-left sm:text-center rounded-sm uppercase p-2'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sobre mí
      </button>
    </div>
    <article>
      <p class='text-gray-600 text-left sm:text-center  md:mx-48 xl:text-2xl' >
        ¡Hola! Soy Iván. Mi interés por la programación comenzó con el deseo de crear videojuegos, lo cual me llevó a explorar este mundo. Después de terminar la secundaria, comencé a investigar cómo desarrollar juegos y, en el proceso, descubrí el desarrollo web.
        Desde entonces, decidí enfocarme en el desarrollo web, comenzando por establecer una base sólida en HTML y CSS a través de diversos cursos. Para continuar mi formación, también me inscribí en una tecnicatura en análisis de sistemas, con el objetivo de expandir mis habilidades y conocimientos en el campo del desarrollo.
      </p>
    </article>
    <article class='flex justify-center gap-8 cursor-pointer text-gray-600 py-6 text-3xl'>
      <a href="{{socialMedia.linkedin}}">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:{{socialMedia.email}}?">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="{{socialMedia.github}}">
        <i class="fa-brands fa-github"></i>
      </a>
    </article>
    <div class='hidden xl:block xl:text-5xl xl:mt-7 xl:text-slate-600 xl:cursor-pointer xl:animate-bounce xl:hover:text-slate-500 xl:transition-all'>
      <a href="#skills">
        <i class="fa fa-arrow-down"></i>
      </a>
    </div>
  </section>