<section class='text-center flex flex-col gap-3 justify-center items-center xl:m-0 two lg:h-screen'>
    <div class='xl:block'>
      <button class='link-project text-slate-500 text-2xl text-center rounded-sm uppercase p-2' id="about">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sobre mí
      </button>
    </div>
    <article>
      <p class='text-gray-600 mx-6 md:mx-48 xl:text-2xl' >
        ¡Hola! mi nombre es Iván y me apasiona el desarrollo web y todo lo relacionado. Empecé a introducirme a este mundo, por mí interés en el desarrollo de videojuegos. Al finalizar la secundaria empecé a investigar como desarrollar juegos y a su vez incursioné con el desarrollo web, que al final, me decidí ir por web y hacer algunos cursos de HTML y CSS, para ir sentando bases en el desarrollo, y meterme en la tecnicatura de análisis de sistemas para poder formarme.
      </p>
    </article>
    <article class='flex justify-center gap-8 cursor-pointer text-gray-600 py-6 text-3xl'>
      <a href="https://www.linkedin.com/in/ivan-pablo-armolla-7b5856219/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:ivan.armolla@gmail.com?">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://github.com/iarmolla">
        <i class="fa-brands fa-github"></i>
      </a>
    </article>
    <div class='hidden xl:block xl:text-5xl xl:mt-7 xl:text-slate-600 xl:cursor-pointer xl:animate-bounce xl:hover:text-slate-500 xl:transition-all'>
      <a href="#skills">
        <i class="fa fa-arrow-down"></i>
      </a>
    </div>
  </section>