<nav class='z-10 text-neutral-400 flex justify-between items-center min-w-full shadow-sm py-4 px-5 bg-slate-50 absolute top-0'>
    <div>
      <h1 class='text-sm'>Portfolio</h1>
    </div>
    <section class='flex flex-row gap-3'>
      <section class='navbar-item'>
        <a href="#about" class='link item-link text-sm'>
          Sobre mi
          <span class="item-link-one"></span>
        </a>
      </section>
      <section class='navbar-item'>
        <a class='link item-link text-sm cursor-pointer' data-modal-target="default-modal" data-modal-toggle="default-modal">
          Contacto
          <span class="item-link-one"></span>
        </a>
      </section>
      <section class='navbar-item'>
        <a href="#projects" class='link item-link text-sm'>
          Proyectos
          <span class="item-link-one"></span>
        </a>
      </section>
      <section class='navbar-item'>
        <a (click)="openCv()" class='link item-link text-sm'>
          Curriculum
          <span class="item-link-one"></span>
        </a>
      </section>
    </section>
  </nav>