<section class='text-center flex flex-col gap-3 justify-center items-center xl:m-0 lg:pb-32 four' >
    <section class='flex flex-col justify-center items-center gap-4 lg:pb-24' id="projects">
      <h4 class='link-project text-slate-500 text-2xl mt-14 text-center rounded-sm uppercase p-2 lg:mt-20' >
        <span></span>
        <span></span>
        <span></span>
        <span></span>proyectos</h4>
        @for (project of projects; track $index) {
            <article class='shadow-lg p-3 text-gray-500 rounded-md border-2 border-gray-200 dark:border-gray-500 m-3 sm:mx-20 md:mx-20 lg:w-2/4'>
                <div class='flex flex-row justify-between'>
                  <span class='uppercase text-left pl-3 text-gray-500 font-semibold mb-4'>{{project.title}}</span>
                  <div class='flex flex-row gap-2 text-xl cursor-pointer'>
                    <a href={{project.repository}} >
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a href={{project.link}} >
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </div>
                </div>
                <div>
                  <a href={{project.link}}  class='flex flex-col justify-center items-center py-2 overflow-hidden'>
                    <img src={{project.img}} class="image-project hover:animate-pulse" alt="ecommerce project" />
                  </a>
                </div>
                <p className='pl-3'>{{project.description}}</p>
                <div class='flex flex-row gap-3 pl-3 my-5 font-bold'>
                    @for (tech of project.stack; track $index) {
                        <span>{{tech}}</span>
                    }
                </div>
              </article>
        }
    </section>