<section class='text-center flex flex-col gap-3 justify-center items-center xl:m-0 lg:h-screen three' id="skills">
    <h4 class='link-project text-slate-500 text-2xl text-center rounded-sm uppercase p-2 mb-16 lg:mt-0'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      HABILIDADES
    </h4>
    <section class='rounded-md text-center font-sans relative'>
      <div class='flex flex-col justify-center items-center gap-14 text-8xl uppercase font-medium sm:grid sm:grid-cols-2 lg:grid lg:grid-cols-4'>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
            <span class='absolute text-xl -top-10 left-0 text-red-600 dark:text-gray-600'>Angular</span>
            <i class="fa-brands fa-angular"></i>
          </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
            <span class='absolute text-xl -top-10 left-0 text-orange-500 dark:text-gray-600'>Node</span>
            <i class="fa-brands fa-node"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
          <span class='absolute text-xl -top-10 left-0 text-indigo-500 dark:text-gray-600'>Docker</span>
          <i class="fa-brands fa-docker"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
          <span class='absolute text-xl -top-10 left-0 text-sky-500 dark:text-gray-600'>Aws</span>
          <i class="fa-brands fa-aws"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
          <span class='absolute text-xl -top-10 left-0 text-yellow-400 dark:text-gray-600'>Php</span>
          <i class="fa-brands fa-php"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
          <span class='absolute text-xl -top-10 left-0 text-cyan-400 dark:text-gray-600'>React</span>
          <i class="fa-brands fa-react"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
          <span class='absolute text-xl -top-10 left-0 text-orange-600 dark:text-gray-600'>Git</span>
          <i class="fa-solid fa-code-branch"></i>
        </div>
        <div class='relative shadow-lg p-10 rounded-md border-2 border-gray-200 dark:border-gray-500'>
            <span class='absolute text-xl -top-10 left-0 text-orange-600 dark:text-gray-600'>SQL</span>
            <i class="fa-solid fa-database"></i>
        </div>
      </div>
      <div class='hidden xl:text-5xl xl:mt-7 xl:text-slate-600 xl:cursor-pointer xl:animate-bounce xl:hover:text-slate-500 xl:transition-all xl:absolute xl:w-full xl:flex xl:justify-center xl:items-center'>
        <a href="#projects">
            <i class="fa fa-arrow-down"></i>
        </a>
      </div>
    </section>
  </section>