@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    transition: 300ms;
}

nav {
    position: absolute;
    top: 0;
    z-index: 100;
}

.link-project {
    position: relative;
    display: inline-block;
    color: #939393;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;
    cursor: auto;
}

.link-project:nth-child(1) {
    filter: hue-rotate(270deg);
}

.link-project:nth-child(2) {
    filter: hue-rotate(110deg);
}

.link-project span {
    position: absolute;
    display: block;
}

.link-project span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1d1c1cb4);
    animation: animate1 3s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.link-project span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1f1e1e97);
    animation: animate2 3s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.link-project span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2c2b2b98);
    animation: animate3 3s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.navbar-item {
    position: relative;
    width: 100%;
    transition: 400ms;
}

.item-link-one {
    transition: 300ms;
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 50px;
    width: 100%;
    background: #767676f7;
    opacity: 1;
    height: 3px;
    opacity: 0;
}

.item-link:hover>.item-link-one {
    transition: 300ms;
    opacity: 1;
}

.title {
    display: block;
    white-space: nowrap;
    border-right: 2px solid;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.image-project {
    transition: 300ms;
    object-fit: cover;
    max-width: 80%;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 8px;
    min-height: 50%;
}

.image-project:hover {
    transition: 300ms;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


main {
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; */
    scroll-behavior: smooth;
    scroll-padding-bottom: 5rem;
}


main::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}


.form__submit {
    color: rgba(150, 148, 148, 0.674);
    background-color: #eaeaea;
    transition: 300ms;
}

.form__submit:hover {
    transition: 300ms;
    background-color: rgba(224, 224, 224, 0.9);
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

@keyframes test {
    0% {
        transform: scale(0.1) translateY(50%);
    }

    50% {
        transform: scale(1);
    }
}

.modal-animate {
    animation: test 2s;
}

.error-text {
    display: block;
    opacity: 1;
    animation-fill-mode: both;
    animation-duration: 875ms;
    animation-delay: 125ms;
    animation-iteration-count: 1;
    animation-name: errors;
}

@keyframes errors {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes submit {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.submit {
    display: block;
    opacity: 1;
    animation-fill-mode: both;
    animation-duration: 875ms;
    animation-delay: 125ms;
    animation-iteration-count: 1;
    animation-name: submit;
}

.site-header {
    background-color: #f8fafc;
}

body.dark .site-header {
    background-color: #000000 !important;
}
.dark .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #e7e5e5 !important;
    transition: .4s;
    border-radius: 34px;
}
.dark .slider::before {
    background-color: #334155 !important;
}
.toggle-container {
    margin: 0 !important;
}